* {
    font-family: "Roboto", sans-serif;
}

body {
    background-color: #dde6ff;
    box-sizing: border-box;
    margin: 0;
}

#navbar {
    height: 75px;
    background-color: cornflowerblue;
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
    color: whitesmoke;
}

#app-main {
    background-color: #dde6ff;
}

#logo-div {
    display: flex;
    align-content: stretch;
}

#icon-div {
    display: flex;
}

#icon-div i {
    font-size: 25px;
}

#icon-div .button {
    height: 100%;
    font-size: 20px;
    font-weight: bold;
}

#logo {
    display: inline;
    width: max-content;
    align-self: center;
    padding-left: 25px;
    font-family: "Montserrat", sans-serif;
}
#navbar .pic-div {
    display: flex;
    text-align: center;
    align-items: center;
    height: 100%;
    width: 200px;
    justify-content: space-evenly;
}

.pic-div button {
    height: 100%;
    font-size: 20px;
    font-weight: bold;
}
.button {
    color: whitesmoke;
    text-decoration: none;
}

#login {
    padding: 25px;
}

#navbar .profile-pic {
    object-fit: cover;
    float: right;
    width: 55px;
    height: 55px;
    border-radius: 30%;
}

#navbar .profile-pic:hover {
    cursor: pointer;
}

.profile .pic-div {
    float: none;
    /* width: 45%; */
    width: max-content;
    margin: auto;
}
.profile img {
    width: 250px;
    height: 250px;
    object-fit: cover;
}
#modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    max-width: 100%;
    background-color: whitesmoke;
}

#modalLayer {
    z-index: 6;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    transition: 500ms ease-in-out;
}

.profile {
    width: 60%;
    margin: auto;
    text-align: center;
}

.chat-container {
    width: 60%;
    height: 70vh;
    margin: auto;
    background-color: whitesmoke;
    padding: 5px;
    overflow-y: auto;
}

.chat-container textarea {
    width: 99%;
}
.message {
    height: 75px;
    text-align: center;
    border-bottom: 1px dashed lightgray;
}

.message img {
    object-fit: cover;
    float: left;
    width: 65px;
    height: 65px;
    border-radius: 30%;
}

.user {
    width: 25vw;
    height: 30vh;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.user img {
    object-fit: cover;
    width: 20vw;
    height: 20vh;
    margin: auto;
}

.user h3 {
    margin: 0;
}

.friends {
    display: flex;
    height: 35vh;
}

.wannabes {
    display: flex;
    height: 35vh;
}

.smallerButton {
    height: 20px;
    margin-right: 5px;
}

.editProf {
    height: 25vh;
}

/* .user-req-details{

} */
