body {
    background-color: #dde6ff;
    box-sizing: border-box;
    margin: 0;
}

#navbar {
    height: 100px;
    background-color: cornflowerblue;
}

#app-main {
    background-color: #dde6ff;
}

#logo {
    display: inline;
    width: max-content;
}
#navbar .pic-div {
    display: flex;
    text-align: center;
    float: right;
    align-items: center;
    height: 100%;
    width: 200px;
    justify-content: space-evenly;
}

#navbar .profile-pic {
    width: 75px;
    height: 75px;
    border-radius: 10px;
    object-fit: cover;
    float: right;
}

#navbar .profile-pic:hover {
    cursor: pointer;
}

.profile .pic-div {
    float: none;
    /* width: 45%; */
    width: max-content;
}
.profile img {
    width: 250px;
    height: 250px;
    object-fit: cover;
}

.profile {
    width: 60%;
    margin: auto;
}
